/* main styling for first page */

.main-page-header {
    background-color: #738D6F;
    color: #fff;
    text-align: center;
    box-shadow: 2px 2px 4px #888888;
}

.description {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #333; 
    padding: 10px;
}

.img-container {
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    overflow: hidden;
    border: 1px solid # 333;
}


/* styling for heading */
h1 {
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
}


h2 {
    font-size: 20px;
    color: #738D6F;

}

/* styling for p */

p {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    color: #738D6F;
    text-decoration: line-through;
}





/* styling for links */

a {
    color: #000;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    text-align: ;text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

a:visted {
  color: red;

}




/* media queries */

@media (max-width: 768px) {
    .main-page-header {
        font-size: 24px;
    }

    .description {
        font-size: 14px;
    }

    .img-container {
        margin: 10px;
    }

}

@media (max-width: 480px) {
    .main-page-header {
        font-size: 20px;
        text-decoration: none;
    }

    .description {
        font-size: 12px;
    }

    .img-container {
        margin: 5px;
    }

}

